/* 0. НАЧАЛО. МЕДИА-ЗАПРОСЫ ДЛЯ РАЗРЕШЕНИЯ 1440px И БОЛЬШЕ */
@media only screen and (min-width: 1440px) {
    .index-2{
      justify-content: space-between;
      margin-top: 60px;
    }
    .text_employ{
      font-size: 16px;
    }
    .text_employ_fi{
      font-size: 20px;
    }
    /* .slide{
      padding: 30px;
    }
    .slide-title{
      font-size: 24px;
      margin-bottom: 15px;
    }
    .slide-subtitle{
      font-size: 18px;
      margin-bottom: 60px;
    }
    .slide-button{
      font-size: 16px;
    } */
}
/* 0. КОНЕЦ. МЕДИА-ЗАПРОСЫ ДЛЯ РАЗРЕШЕНИЯ 1440px И БОЛЬШЕ */


/* 1. НАЧАЛО. МЕДИА-ЗАПРОСЫ ДЛЯ РАЗРЕШЕНИЯ МЕНЬШЕ 1024px */
@media only screen and (max-width: 1024px) {
    .index-2{
      justify-content: space-between;
      margin-top: 40px;
    }
    .text_employ{
      font-size: 16px;
    }
    .text_employ_fi{
      font-size: 20px;
    }
    .slide{
      padding: 30px;
    }
    .slide-title{
      font-size: 24px;
      margin-bottom: 15px;
    }
    .slide-subtitle{
      font-size: 18px;
      margin-bottom: 60px;
    }
    .slide-button{
      font-size: 16px;
    }
}
/* 1. КОНЕЦ. МЕДИА-ЗАПРОСЫ ДЛЯ РАЗРЕШЕНИЯ МЕНЬШЕ 1024px */


/* 2. НАЧАЛО. МЕДИА-ЗАПРОСЫ ДЛЯ РАЗРЕШЕНИЯ МЕНЬШЕ 768px */
  @media only screen and (max-width: 768px) {
    .index-2{
      justify-content: space-around;
      margin-top: 40px;
    }
    .employ:not(:last-of-type) {
      margin-bottom: 50px;
    }
    .text_employ{
      font-size: 14px;
    }
    .text_employ_fi{
      font-size: 18px;
    }
    .slide{
      padding: 20px;
    }
    .slide-title{
      font-size: 20px;
      margin-bottom: 15px;
    }
    .slide-subtitle{
      font-size: 18px;
      margin-bottom: 40px;
    }
    .slide-button{
      font-size: 14px;
    }
    .google_maps{
      display: none;
    }
  }
/* 2. КОНЕЦ. МЕДИА-ЗАПРОСЫ ДЛЯ РАЗРЕШЕНИЯ МЕНЬШЕ 768px */


/* 3. НАЧАЛО. МЕДИА-ЗАПРОСЫ ДЛЯ РАЗРЕШЕНИЯ МЕНЬШЕ 320px */
  @media only screen and (max-width: 320px) {
    .index-2{
      justify-content: center;
      margin-top: 30px;
    }
    .employ:not(:last-of-type) {
      margin-bottom: 50px;
    }
    .text_employ{
      font-size: 14px;
    }
    .text_employ_fi{
      font-size: 16px;
    }
    
    .slide{
      padding: 20px;
    }
    .slide-title{
      font-size: 18px;
      margin-bottom: 15px;
    }
    .slide-subtitle{
      font-size: 14px;
      margin-bottom: 40px;
    }
    .slide-button{
      font-size: 14px;
    }
    .google-maps{
        display: none;
    }
}
/* 3. КОНЕЦ. МЕДИА-ЗАПРОСЫ ДЛЯ РАЗРЕШЕНИЯ МЕНЬШЕ 320px */


/* 4. НАЧАЛО. СТИЛИ ДЛЯ ГЛАВНОЙ */
.index-2{
    display: flex;
    flex-wrap: wrap;
}
.employ{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text_employ{
  color: var(--sp-solor);
  font-weight: 600;
  margin-top: 10px;
}
.text_employ_fi{
  font-weight: 600;
}
.img_employ{
  max-width: 300px;
  max-height: 300px;
}
.img_img_employ{
  border-radius: 50%;
}

/* Стили для слайдера */
/* .slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.slide {
  display: none;
  background: linear-gradient(90deg, #EDEDEF 0%, #E4E4E6 100%);
  border-radius: 10px;
  margin-bottom: 25px;
  animation: slide-in 1s ease-in-out 1;
} */
/* Определение анимации определяющее шаги анимации */
/* @keyframes slide-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.slide-button {
  padding: 10px 20px;
  background-color: var(--sp-solor-button);
  color:var(--sp-solor-button-text);
  text-decoration: none;
  border-radius: 5px;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
}
.slide-button:hover{
  background-color: var(--sp-solor-button-hover);
  color: var(--sp-solor-button-text-hover);
}
.slide-title{
  color: var(--sp-solor-maintext);
  font-weight: 700;
}
.slide-subtitle{
  color: var(--sp-solor-text);
  font-weight: 400;
}
.current-slide {
  display: block;
}
.slide-content {
  display: flex;
  height: 100%;
}
.slide-controls {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around
}
.prev-arrow,
.next-arrow {
  padding: 10px;
  background-color: var(--sp-solor-button);
  border: none;
  color: var(--sp-solor-button-text);
}
.prev-arrow:hover,
.next-arrow:hover{
  padding: 10px;
  background-color: var(--sp-solor-button-hover);
  border: none;
  color: var(--sp-solor-button-text-hover);
} */

.google-maps {
  color: var(--sp-solor-maintext);
  overflow: hidden;
}
.index-map{
  border: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
/* 4. КОНЕЦ. СТИЛИ ДЛЯ ГЛАВНОЙ */